{% load static %}
<html>
    <head>
       <style>
        h1{text-align:center;color:brown;}
        img{
            display:block;
            margin-left:auto;
            margin-right:auto;
            width:700px;
            height:250px;
            border-radius: 20px;
        }
        p{
            text-align: justify;
            line-height: 20px;
            padding: 20px;

        }
        body {
        background-color:coral;
        }

    </style> 
    </head>
    <body>
        <h1>Dashashwamedh Ghat</h1>
        <img src="{% static 'dhasashwamedhghat.png' %}" alt="Dashashwamedh Ghat">
        <a href="{% url 'aarti' %}">NEXT</a>
        
        <p>Dashashwamedh Ghat is one of the most famous and vibrant ghats in Varanasi, located close to the Kashi Vishwanath Temple. It is believed that Lord Brahma performed ten sacred horse sacrifices here, giving the ghat its name. From early morning to late night, the ghat is filled with pilgrims, sadhus, and visitors experiencing its spiritual energy. Boats line the riverbank as people gather to watch the sunrise over the Ganga. The evening Ganga Aarti at Dashashwamedh Ghat is a breathtaking ritual of lamps, chants, and devotion. This ghat truly captures the essence and soul of Varanasi.</p>
         <a href="{% url 'kashi' %}">BACK</a>
    </body>
</html>